{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.piece_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.piece_list'|trans }}</h1>
    <a class="btn btn-primary btn-lg" href="{{ url('piece_create') }}">{{ 'action.add_piece'|trans }} <i class="fa-solid fa-plus"></i></a>
    {% include 'default/_pieces_list.html.twig' with {
        pagination: pagination
    } %}
{% endblock %}