{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.canon_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.canon_list'|trans }}</h1>
    <a class="btn btn-primary btn-lg" href="{{ url('canon_create') }}">{{ 'action.add_canon'|trans }} <i class="fa-solid fa-plus"></i></a>
    {% include 'default/_canons_list.html.twig' with {
        pagination: pagination
    } %}
{% endblock %}