* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1920px;
  margin: auto;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

// Selectize UI fix
.form-select {
  padding: 0;
  background-image: none;
}

.selectize-control.multi {
  border: none;
}
.selectize-control.single {
  .selectize-input {
    border: none;
    &:after {
      content: url('../images/arrow.svg');
      border: none;
      width: 15px;
      height: 9px;
      display: block;
      transition: 0.3s;
    }

    &.dropdown-active {
      &:after {
        transform: rotate(180deg);
      }
    }
  }
}

table {
  tbody {
    tr {
      transition: 0.3s;

      &:hover {
        background-color: $table-hover-color;
      }
    }
  }
}