$table-hover-color: #e3e3e3;
$table-hover-color-odd: #6161f3;
$table-background-color: #4d4dee;
$nav-text-color: rgba(255,255,255,.55);
$nav-text-color-hover: rgba(255,255,255,.75);
$color-dark: #111010;
$color-gold: #e3c102;
$color-white: #fff;
$color-main: #9311b6;
$color-main-2: #ff5771;
$main-gradient: linear-gradient(
                to right,
                $color-main-2,
                $color-main,
                $color-main-2
);