$table-hover-color: #e3e3e3;
$color-main: #6161f3;
$color-main-2: #4d4dee;
$color-main-dark: #3b3bc6;
$color-main-2-dark: #2323bd;
$color-main-light: #8585f1;
$nav-text-color: rgba(255,255,255,.55);
$nav-text-color-hover: rgba(255,255,255,.75);
$color-dark: #111010;
$color-gold: #e3c102;
$color-white: #fff;
$level-main: #9311b6;
$level-main-2: #ff5771;
$color-edit: #3a933b;
$color-delete: #cd1919;
$main-gradient: linear-gradient(
                to right,
                $level-main-2,
                $level-main,
                $level-main-2
);

$main-gradient-blue: linear-gradient(
                to right,
                $color-main,
                $color-main-2,
                $color-main
);

$main-gradient-dark-blue-45deg: linear-gradient(
                -45deg,
                $color-main-dark,
                $color-main-2-dark,
                $color-main-dark
);

$main-gradient-blue-45deg: linear-gradient(
                -45deg,
                $color-main,
                $color-main-2,
                $color-main
);

$main-gradient-blue-180deg: linear-gradient(
                -180deg,
                $color-main-2,
                $color-main
);