{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.scale_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.scale_list'|trans }}</h1>
    {% include 'default/_scales_list.html.twig' with {
        pagination: pagination,
    } %}
{% endblock %}