@charset "UTF-8";
@keyframes shake {
  0% {
    transform: translate(-10%, -20%) rotate(0deg);
  }
  20% {
    transform: translate(-10%, -20%) rotate(0deg);
  }
  25% {
    transform: translate(-10%, -20%) rotate(-30deg);
  }
  35% {
    transform: translate(-10%, -20%) rotate(30deg);
  }
  45% {
    transform: translate(-10%, -20%) rotate(-30deg);
  }
  55% {
    transform: translate(-10%, -20%) rotate(30deg);
  }
  60% {
    transform: translate(-10%, -20%) rotate(0deg);
  }
  100% {
    transform: translate(-10%, -20%) rotate(0deg);
  }
}
@keyframes animateGlow {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes slideInUnderline {
  0% {
    opacity: 0;
    left: -100%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    max-height: 0;
    display: none;
    visibility: hidden;
    margin: 0;
    padding: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
}

.main {
  animation: show ease 0.3s both;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Comfortaa", cursive;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.btn-primary {
  background: #6161f3;
  transition: background 0.3s;
  display: block;
}
.btn-primary:hover, .btn-primary:focus {
  background: #3b3bc6;
}

.table {
  display: block;
  margin: auto;
  white-space: nowrap;
}
@media all and (max-width: 1540px) {
  .table {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
}
.table thead {
  background: linear-gradient(-180deg, #4d4dee, #6161f3);
}
.table thead th {
  color: #fff;
  vertical-align: middle;
}
.table thead th a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
  position: relative;
}
.table thead th a:before {
  position: absolute;
  content: "";
  display: block;
  bottom: -0.2rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 100vh;
}
.table thead th a:hover {
  color: #fff;
}
.table thead th a:hover:before {
  opacity: 1;
}
.table thead th a:after {
  display: inline-block;
  content: " \f338";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  vertical-align: middle;
  line-height: initial;
  font-weight: 900;
}
.table tbody tr td:last-of-type {
  white-space: nowrap;
}
.table tbody tr td:last-of-type a {
  text-decoration: none;
}
.table--scales {
  display: table;
}
@media all and (min-width: 950px) {
  .table--canons {
    display: table;
  }
}
@media all and (min-width: 1550px) {
  .table--periods {
    display: table;
  }
}
@media all and (min-width: 855px) {
  .table--users {
    display: table;
  }
}
@media all and (min-width: 1540px) {
  .table--pieces {
    white-space: normal;
  }
}
@media all and (min-width: 1540px) {
  .table--composers {
    white-space: normal;
  }
}

i.fa-eye {
  color: #6161f3;
}
i.fa-pen-to-square {
  color: #3a933b;
}
i.fa-trash-can {
  color: #cd1919;
}
i.fa-youtube {
  color: #cd1919;
}
i.fa-record-vinyl {
  color: #4d4dee;
}

input[type=checkbox] {
  margin-right: 0.3rem;
}

.btn-learn-more {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 50%;
}
.btn-learn-more i {
  animation: shake 1s 0.5s both;
  color: #6161f3;
  transition: color 0.3s;
}
.btn-learn-more i:hover {
  color: #3b3bc6;
}

.underline-header {
  position: relative;
  overflow-x: hidden;
}
.underline-header:after {
  content: "";
  background-color: #6161f3;
  width: 100%;
  position: absolute;
  height: 3px;
  border-radius: 100vh 0 100vh 0;
  bottom: 0;
  left: 0;
  animation: slideInUnderline 1.5s 1.2s ease both;
}

.form-select {
  padding: 0;
  background-image: none;
}

.selectize-control.multi {
  border: none;
}

.selectize-control.single .selectize-input {
  border: none;
}
.selectize-control.single .selectize-input:after {
  content: url("../images/arrow.svg");
  border: none;
  width: 15px;
  height: 9px;
  display: block;
  transition: 0.3s;
}
.selectize-control.single .selectize-input.dropdown-active:after {
  transform: rotate(180deg);
}

table tbody tr {
  transition: 0.3s;
}
table tbody tr:hover {
  background-color: #e3e3e3;
}

main > *:not(.table-striped) {
  margin: 1rem 2rem 1rem 2rem;
}
@media (max-width: 1920px) {
  main > *:not(.table-striped) {
    margin: 0.95rem 1.9rem 0.95rem 1.9rem;
  }
}
@media (max-width: 1600px) {
  main > *:not(.table-striped) {
    margin: 0.9rem 1.8rem 0.9rem 1.8rem;
  }
}
@media (max-width: 1360px) {
  main > *:not(.table-striped) {
    margin: 0.8rem 1.6rem 0.8rem 1.6rem;
  }
}
@media (max-width: 1200px) {
  main > *:not(.table-striped) {
    margin: 0.75rem 1.5rem 0.75rem 1.5rem;
  }
}
@media (max-width: 1080px) {
  main > *:not(.table-striped) {
    margin: 0.7rem 1.4rem 0.7rem 1.4rem;
  }
}
@media (max-width: 992px) {
  main > *:not(.table-striped) {
    margin: 0.65rem 1.3rem 0.65rem 1.3rem;
  }
}
@media (max-width: 768px) {
  main > *:not(.table-striped) {
    margin: 0.6rem 1.2rem 0.6rem 1.2rem;
  }
}
@media (max-width: 450px) {
  main > *:not(.table-striped) {
    margin: 0.5rem 1rem 0.5rem 1rem;
  }
}
@media all and (min-width: 950px) {
  main > *:not(.table-striped) {
    margin: 1rem 6rem 1rem 6rem;
  }
}
@media (min-width: 950px) and (max-width: 1920px) {
  main > *:not(.table-striped) {
    margin: 0.95rem 5.7rem 0.95rem 5.7rem;
  }
}
@media (min-width: 950px) and (max-width: 1600px) {
  main > *:not(.table-striped) {
    margin: 0.9rem 5.4rem 0.9rem 5.4rem;
  }
}
@media (min-width: 950px) and (max-width: 1360px) {
  main > *:not(.table-striped) {
    margin: 0.8rem 4.8rem 0.8rem 4.8rem;
  }
}
@media (min-width: 950px) and (max-width: 1200px) {
  main > *:not(.table-striped) {
    margin: 0.75rem 4.5rem 0.75rem 4.5rem;
  }
}
@media (min-width: 950px) and (max-width: 1080px) {
  main > *:not(.table-striped) {
    margin: 0.7rem 4.2rem 0.7rem 4.2rem;
  }
}
@media (min-width: 950px) and (max-width: 992px) {
  main > *:not(.table-striped) {
    margin: 0.65rem 3.9rem 0.65rem 3.9rem;
  }
}
@media (min-width: 950px) and (max-width: 768px) {
  main > *:not(.table-striped) {
    margin: 0.6rem 3.6rem 0.6rem 3.6rem;
  }
}
@media (min-width: 950px) and (max-width: 450px) {
  main > *:not(.table-striped) {
    margin: 0.5rem 3rem 0.5rem 3rem;
  }
}
@media all and (min-width: 1200px) {
  main > *:not(.table-striped) {
    margin: 1rem 15rem 1rem 15rem;
  }
}
@media (min-width: 1200px) and (max-width: 1920px) {
  main > *:not(.table-striped) {
    margin: 0.95rem 14.25rem 0.95rem 14.25rem;
  }
}
@media (min-width: 1200px) and (max-width: 1600px) {
  main > *:not(.table-striped) {
    margin: 0.9rem 13.5rem 0.9rem 13.5rem;
  }
}
@media (min-width: 1200px) and (max-width: 1360px) {
  main > *:not(.table-striped) {
    margin: 0.8rem 12rem 0.8rem 12rem;
  }
}
@media (min-width: 1200px) and (max-width: 1200px) {
  main > *:not(.table-striped) {
    margin: 0.75rem 11.25rem 0.75rem 11.25rem;
  }
}
@media (min-width: 1200px) and (max-width: 1080px) {
  main > *:not(.table-striped) {
    margin: 0.7rem 10.5rem 0.7rem 10.5rem;
  }
}
@media (min-width: 1200px) and (max-width: 992px) {
  main > *:not(.table-striped) {
    margin: 0.65rem 9.75rem 0.65rem 9.75rem;
  }
}
@media (min-width: 1200px) and (max-width: 768px) {
  main > *:not(.table-striped) {
    margin: 0.6rem 9rem 0.6rem 9rem;
  }
}
@media (min-width: 1200px) and (max-width: 450px) {
  main > *:not(.table-striped) {
    margin: 0.5rem 7.5rem 0.5rem 7.5rem;
  }
}
main > h1 {
  padding: 1rem 2rem 1rem 2rem;
}
@media (max-width: 1920px) {
  main > h1 {
    padding: 0.95rem 1.9rem 0.95rem 1.9rem;
  }
}
@media (max-width: 1600px) {
  main > h1 {
    padding: 0.9rem 1.8rem 0.9rem 1.8rem;
  }
}
@media (max-width: 1360px) {
  main > h1 {
    padding: 0.8rem 1.6rem 0.8rem 1.6rem;
  }
}
@media (max-width: 1200px) {
  main > h1 {
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  }
}
@media (max-width: 1080px) {
  main > h1 {
    padding: 0.7rem 1.4rem 0.7rem 1.4rem;
  }
}
@media (max-width: 992px) {
  main > h1 {
    padding: 0.65rem 1.3rem 0.65rem 1.3rem;
  }
}
@media (max-width: 768px) {
  main > h1 {
    padding: 0.6rem 1.2rem 0.6rem 1.2rem;
  }
}
@media (max-width: 450px) {
  main > h1 {
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
}

nav {
  color: rgba(255, 255, 255, 0.55);
}
nav .navbar-toggler {
  border: none;
}
nav .navbar-brand {
  font-family: "Comfortaa", cursive;
  margin-right: 0;
  padding: 0 1rem 0 1rem;
}
nav .navbar-brand:hover i {
  color: #3b3bc6;
}
nav .navbar-brand i {
  color: #6161f3;
  transition: color 0.3s;
}
@media (max-width: 1920px) {
  nav .navbar-brand {
    padding: 0 0.95rem 0 0.95rem;
  }
}
@media (max-width: 1600px) {
  nav .navbar-brand {
    padding: 0 0.9rem 0 0.9rem;
  }
}
@media (max-width: 1360px) {
  nav .navbar-brand {
    padding: 0 0.8rem 0 0.8rem;
  }
}
@media (max-width: 1200px) {
  nav .navbar-brand {
    padding: 0 0.75rem 0 0.75rem;
  }
}
@media (max-width: 1080px) {
  nav .navbar-brand {
    padding: 0 0.7rem 0 0.7rem;
  }
}
@media (max-width: 992px) {
  nav .navbar-brand {
    padding: 0 0.65rem 0 0.65rem;
  }
}
@media (max-width: 768px) {
  nav .navbar-brand {
    padding: 0 0.6rem 0 0.6rem;
  }
}
@media (max-width: 450px) {
  nav .navbar-brand {
    padding: 0 0.5rem 0 0.5rem;
  }
}
nav .nav-item.active .nav-link {
  color: #8585f1;
  transition: 0.3s;
}
nav .nav-item.active:hover .nav-link {
  color: #6161f3;
}
nav .nav__user-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 0.5rem;
}
nav .nav__user-data .level-progress {
  background-color: #fff;
  border-radius: 100vh;
  color: #111010;
  position: relative;
  overflow: hidden;
  height: 2.3rem;
  width: 7rem;
}
nav .nav__user-data .level-progress__meter {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.3rem;
  width: 7rem;
  border-radius: 100vh;
  opacity: 0.9;
  background: linear-gradient(to right, #ff5771, #9311b6, #ff5771);
  background-size: 200% 200%;
  animation: animateGlow 10s linear infinite;
}
nav .nav__user-data .level-progress__experience {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
nav .nav__user-data .level-circle--small {
  position: relative;
  left: -1rem;
  top: 0.3rem;
  color: #111010;
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav__user-data .level-circle--small span {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  font-weight: bold;
}
nav .nav__user-data .level-circle--small i {
  font-size: 1.7rem;
  color: #e3c102;
  display: inline-block;
  position: absolute;
  text-shadow: -2px -1px 1px #474747;
  top: 0;
  left: 0;
}
nav .nav__user-data .user-data a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
nav .nav__user-data .user-data .user-image--small {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.75);
  margin: 0 0.4rem;
}
nav .nav__user-data .nav-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
nav .nav__user-data .nav-button a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  transition: filter 0.3s;
}
nav .nav__user-data .nav-button a:hover {
  filter: brightness(0.9);
}
nav .nav__user-data .nav-button__login {
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
}
@media (max-width: 1920px) {
  nav .nav__user-data .nav-button__login {
    padding: 0.475rem 0.76rem 0.475rem 0.76rem;
  }
}
@media (max-width: 1600px) {
  nav .nav__user-data .nav-button__login {
    padding: 0.45rem 0.72rem 0.45rem 0.72rem;
  }
}
@media (max-width: 1360px) {
  nav .nav__user-data .nav-button__login {
    padding: 0.4rem 0.64rem 0.4rem 0.64rem;
  }
}
@media (max-width: 1200px) {
  nav .nav__user-data .nav-button__login {
    padding: 0.375rem 0.6rem 0.375rem 0.6rem;
  }
}
@media (max-width: 1080px) {
  nav .nav__user-data .nav-button__login {
    padding: 0.35rem 0.56rem 0.35rem 0.56rem;
  }
}
@media (max-width: 992px) {
  nav .nav__user-data .nav-button__login {
    padding: 0.325rem 0.52rem 0.325rem 0.52rem;
  }
}
@media (max-width: 768px) {
  nav .nav__user-data .nav-button__login {
    padding: 0.3rem 0.48rem 0.3rem 0.48rem;
  }
}
@media (max-width: 450px) {
  nav .nav__user-data .nav-button__login {
    padding: 0.25rem 0.4rem 0.25rem 0.4rem;
  }
}
nav .nav__user-data .nav-button__register {
  background: linear-gradient(-45deg, #6161f3, #4d4dee, #6161f3);
  margin-right: 0.5rem;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  border-radius: 2rem;
}
@media (max-width: 1920px) {
  nav .nav__user-data .nav-button__register {
    padding: 0.475rem 0.76rem 0.475rem 0.76rem;
  }
}
@media (max-width: 1600px) {
  nav .nav__user-data .nav-button__register {
    padding: 0.45rem 0.72rem 0.45rem 0.72rem;
  }
}
@media (max-width: 1360px) {
  nav .nav__user-data .nav-button__register {
    padding: 0.4rem 0.64rem 0.4rem 0.64rem;
  }
}
@media (max-width: 1200px) {
  nav .nav__user-data .nav-button__register {
    padding: 0.375rem 0.6rem 0.375rem 0.6rem;
  }
}
@media (max-width: 1080px) {
  nav .nav__user-data .nav-button__register {
    padding: 0.35rem 0.56rem 0.35rem 0.56rem;
  }
}
@media (max-width: 992px) {
  nav .nav__user-data .nav-button__register {
    padding: 0.325rem 0.52rem 0.325rem 0.52rem;
  }
}
@media (max-width: 768px) {
  nav .nav__user-data .nav-button__register {
    padding: 0.3rem 0.48rem 0.3rem 0.48rem;
  }
}
@media (max-width: 450px) {
  nav .nav__user-data .nav-button__register {
    padding: 0.25rem 0.4rem 0.25rem 0.4rem;
  }
}
nav a {
  text-align: center;
  color: rgba(255, 255, 255, 0.55);
  transition: 0.3s;
}
nav a:hover {
  color: rgba(255, 255, 255, 0.75);
}

.button-friend button:after {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  vertical-align: middle;
  display: block;
  line-height: initial;
  font-weight: 900;
}
.button-friend__remove button:after {
  content: "\f503";
}
.button-friend__add button:after {
  content: "\f234";
}

.form__profile-image #profile_image_image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.form__profile-image #profile_image_image label {
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid white;
  transition: 0.3s;
}
.form__profile-image #profile_image_image input {
  opacity: 0;
  position: absolute;
  left: -5000px;
}
.form__profile-image #profile_image_image input:checked ~ label {
  border: 5px solid #6161f3;
}
.form__profile-image #profile_image_image input:focus-visible ~ label {
  border: 5px solid red;
}
.form__profile-image #profile_image_image .user-image--medium {
  width: 150px;
  cursor: pointer;
}
.form__profile-image .form-check--locked {
  position: relative;
}
.form__profile-image .form-check--locked:hover i {
  animation: shake 1s ease;
}
.form__profile-image .form-check--locked .required-level {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.75);
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}
.form__profile-image .form-check--locked .required-level i {
  font-size: 1rem;
  line-height: 1.6rem;
  transform: translate(-10%, -20%);
}
.form__profile-image .user-image--locked {
  border-radius: 50%;
  border: 5px solid #111010;
  margin: 5px;
  cursor: default !important;
  filter: grayscale(1) brightness(0.5);
  transition: 0.3s;
}
.form__profile-image .user-image--locked:hover {
  filter: grayscale(1) brightness(0.4);
}

.ytplayer--form {
  margin: 1rem 0 0 0;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #6161f3, #4d4dee) border-box;
  border: 3px solid transparent;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  width: 100%;
  aspect-ratio: 16/9;
}
@media (max-width: 1920px) {
  .ytplayer--form {
    margin: 0.95rem 0 0 0;
  }
}
@media (max-width: 1600px) {
  .ytplayer--form {
    margin: 0.9rem 0 0 0;
  }
}
@media (max-width: 1360px) {
  .ytplayer--form {
    margin: 0.8rem 0 0 0;
  }
}
@media (max-width: 1200px) {
  .ytplayer--form {
    margin: 0.75rem 0 0 0;
  }
}
@media (max-width: 1080px) {
  .ytplayer--form {
    margin: 0.7rem 0 0 0;
  }
}
@media (max-width: 992px) {
  .ytplayer--form {
    margin: 0.65rem 0 0 0;
  }
}
@media (max-width: 768px) {
  .ytplayer--form {
    margin: 0.6rem 0 0 0;
  }
}
@media (max-width: 450px) {
  .ytplayer--form {
    margin: 0.5rem 0 0 0;
  }
}
@media all and (min-width: 900px) {
  .ytplayer--form {
    width: 50%;
  }
}
@media all and (min-width: 1200px) {
  .ytplayer--form {
    width: 30%;
  }
}

.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media all and (min-width: 900px) {
  .user-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.user-container__image {
  width: 90vw;
  height: 90vw;
  max-width: 400px;
  max-height: 400px;
  overflow: hidden;
  border-radius: 50%;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #6161f3, #4d4dee) border-box;
  border: 5px solid transparent;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.user-container__image .user-image {
  transition: 0.7s ease;
  width: 90vw;
  height: 90vw;
  max-width: 400px;
  max-height: 400px;
}
.user-container__image .user-image:hover {
  transform: scale(1.1);
}
@media all and (min-width: 900px) {
  .user-container__image .user-image {
    width: 50vw;
    max-width: 400px;
  }
}
.user-container__image a {
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: 50%;
}
.user-container__image a:hover .user-image--editable {
  opacity: 1;
  transform: translate(0, 0);
}
.user-container__image a:hover .user-image {
  transform: scale(1.1);
}
.user-container__image a .user-image--editable {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translate(0, 100%);
  transition: 0.3s ease;
}
.user-container__image a .user-image--editable p {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

.friends {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.friend-container {
  width: min-content;
  background-color: #6161f3;
  border-radius: 100vh;
  transition: 0.3s;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
@media (max-width: 1920px) {
  .friend-container {
    margin: 0.475rem 0.475rem 0.475rem 0.475rem;
  }
}
@media (max-width: 1600px) {
  .friend-container {
    margin: 0.45rem 0.45rem 0.45rem 0.45rem;
  }
}
@media (max-width: 1360px) {
  .friend-container {
    margin: 0.4rem 0.4rem 0.4rem 0.4rem;
  }
}
@media (max-width: 1200px) {
  .friend-container {
    margin: 0.375rem 0.375rem 0.375rem 0.375rem;
  }
}
@media (max-width: 1080px) {
  .friend-container {
    margin: 0.35rem 0.35rem 0.35rem 0.35rem;
  }
}
@media (max-width: 992px) {
  .friend-container {
    margin: 0.325rem 0.325rem 0.325rem 0.325rem;
  }
}
@media (max-width: 768px) {
  .friend-container {
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;
  }
}
@media (max-width: 450px) {
  .friend-container {
    margin: 0.25rem 0.25rem 0.25rem 0.25rem;
  }
}
.friend-container:hover {
  background-color: #3b3bc6;
}
.friend-container a {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
@media (max-width: 1920px) {
  .friend-container a {
    padding: 0.475rem 0.95rem 0.475rem 0.95rem;
  }
}
@media (max-width: 1600px) {
  .friend-container a {
    padding: 0.45rem 0.9rem 0.45rem 0.9rem;
  }
}
@media (max-width: 1360px) {
  .friend-container a {
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  }
}
@media (max-width: 1200px) {
  .friend-container a {
    padding: 0.375rem 0.75rem 0.375rem 0.75rem;
  }
}
@media (max-width: 1080px) {
  .friend-container a {
    padding: 0.35rem 0.7rem 0.35rem 0.7rem;
  }
}
@media (max-width: 992px) {
  .friend-container a {
    padding: 0.325rem 0.65rem 0.325rem 0.65rem;
  }
}
@media (max-width: 768px) {
  .friend-container a {
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  }
}
@media (max-width: 450px) {
  .friend-container a {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  }
}
.friend-container .user-image--small {
  min-width: 50px;
  overflow: hidden;
  width: 40%;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #6161f3, #4d4dee) border-box;
  border: 3px solid transparent;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
@media all and (min-width: 800px) {
  .friend-container .user-image--small {
    width: 20%;
  }
}
@media all and (min-width: 1250px) {
  .friend-container .user-image--small {
    width: 10%;
  }
}

.table--users .user-image--small {
  overflow: hidden;
  width: 40%;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #6161f3, #4d4dee) border-box;
  border: 3px solid transparent;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
@media all and (min-width: 800px) {
  .table--users .user-image--small {
    width: 20%;
  }
}
@media all and (min-width: 1250px) {
  .table--users .user-image--small {
    width: 10%;
  }
}

.flashcards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flashcards-container #ytplayer {
  width: 5rem;
  height: 4rem;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #6161f3, #4d4dee) border-box;
  border: 7px solid transparent;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  margin: 3rem 3rem 3rem 3rem;
}
@media (max-width: 1920px) {
  .flashcards-container #ytplayer {
    margin: 2.85rem 2.85rem 2.85rem 2.85rem;
  }
}
@media (max-width: 1600px) {
  .flashcards-container #ytplayer {
    margin: 2.7rem 2.7rem 2.7rem 2.7rem;
  }
}
@media (max-width: 1360px) {
  .flashcards-container #ytplayer {
    margin: 2.4rem 2.4rem 2.4rem 2.4rem;
  }
}
@media (max-width: 1200px) {
  .flashcards-container #ytplayer {
    margin: 2.25rem 2.25rem 2.25rem 2.25rem;
  }
}
@media (max-width: 1080px) {
  .flashcards-container #ytplayer {
    margin: 2.1rem 2.1rem 2.1rem 2.1rem;
  }
}
@media (max-width: 992px) {
  .flashcards-container #ytplayer {
    margin: 1.95rem 1.95rem 1.95rem 1.95rem;
  }
}
@media (max-width: 768px) {
  .flashcards-container #ytplayer {
    margin: 1.8rem 1.8rem 1.8rem 1.8rem;
  }
}
@media (max-width: 450px) {
  .flashcards-container #ytplayer {
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}
.flashcards-container__flashcards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 100rem;
}
@media all and (min-width: 600px) {
  .flashcards-container__flashcards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.flashcards-container__flashcard {
  margin: 1rem 1rem 1rem 1rem;
  width: 80vmin;
  max-width: 400px;
  height: 80vmin;
  max-height: 400px;
  border-radius: 3rem;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #6161f3, #4d4dee) border-box;
  border: 7px solid transparent;
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  cursor: pointer;
}
@media (max-width: 1920px) {
  .flashcards-container__flashcard {
    margin: 0.95rem 0.95rem 0.95rem 0.95rem;
  }
}
@media (max-width: 1600px) {
  .flashcards-container__flashcard {
    margin: 0.9rem 0.9rem 0.9rem 0.9rem;
  }
}
@media (max-width: 1360px) {
  .flashcards-container__flashcard {
    margin: 0.8rem 0.8rem 0.8rem 0.8rem;
  }
}
@media (max-width: 1200px) {
  .flashcards-container__flashcard {
    margin: 0.75rem 0.75rem 0.75rem 0.75rem;
  }
}
@media (max-width: 1080px) {
  .flashcards-container__flashcard {
    margin: 0.7rem 0.7rem 0.7rem 0.7rem;
  }
}
@media (max-width: 992px) {
  .flashcards-container__flashcard {
    margin: 0.65rem 0.65rem 0.65rem 0.65rem;
  }
}
@media (max-width: 768px) {
  .flashcards-container__flashcard {
    margin: 0.6rem 0.6rem 0.6rem 0.6rem;
  }
}
@media (max-width: 450px) {
  .flashcards-container__flashcard {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
}
.flashcards-container__flashcard--active {
  transform: rotateY(180deg);
}
.flashcards-container__flashcard .flashcard {
  display: block;
  border: none;
  padding: 2rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  background-color: #fff;
  border-radius: 3rem;
}
@media (max-width: 1920px) {
  .flashcards-container__flashcard .flashcard {
    padding: 1.9rem 1.9rem 1.9rem 1.9rem;
  }
}
@media (max-width: 1600px) {
  .flashcards-container__flashcard .flashcard {
    padding: 1.8rem 1.8rem 1.8rem 1.8rem;
  }
}
@media (max-width: 1360px) {
  .flashcards-container__flashcard .flashcard {
    padding: 1.6rem 1.6rem 1.6rem 1.6rem;
  }
}
@media (max-width: 1200px) {
  .flashcards-container__flashcard .flashcard {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}
@media (max-width: 1080px) {
  .flashcards-container__flashcard .flashcard {
    padding: 1.4rem 1.4rem 1.4rem 1.4rem;
  }
}
@media (max-width: 992px) {
  .flashcards-container__flashcard .flashcard {
    padding: 1.3rem 1.3rem 1.3rem 1.3rem;
  }
}
@media (max-width: 768px) {
  .flashcards-container__flashcard .flashcard {
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
  }
}
@media (max-width: 450px) {
  .flashcards-container__flashcard .flashcard {
    padding: 1rem 1rem 1rem 1rem;
  }
}
.flashcards-container__flashcard .flashcard i {
  font-size: 2rem;
  color: #6161f3;
}
.flashcards-container__flashcard .flashcard--back {
  transform: rotateY(180deg);
}

.error__image {
  display: block;
  width: 90%;
  margin: auto;
}
@media all and (min-width: 990px) {
  .error__image {
    width: 50%;
  }
}

.random-piece {
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #6161f3, #4d4dee) border-box;
  border: 7px solid transparent;
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  padding: 2rem 2rem 2rem 2rem;
  width: 90%;
  margin-left: auto !important;
  margin-right: auto !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
@media (max-width: 1920px) {
  .random-piece {
    padding: 1.9rem 1.9rem 1.9rem 1.9rem;
  }
}
@media (max-width: 1600px) {
  .random-piece {
    padding: 1.8rem 1.8rem 1.8rem 1.8rem;
  }
}
@media (max-width: 1360px) {
  .random-piece {
    padding: 1.6rem 1.6rem 1.6rem 1.6rem;
  }
}
@media (max-width: 1200px) {
  .random-piece {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}
@media (max-width: 1080px) {
  .random-piece {
    padding: 1.4rem 1.4rem 1.4rem 1.4rem;
  }
}
@media (max-width: 992px) {
  .random-piece {
    padding: 1.3rem 1.3rem 1.3rem 1.3rem;
  }
}
@media (max-width: 768px) {
  .random-piece {
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
  }
}
@media (max-width: 450px) {
  .random-piece {
    padding: 1rem 1rem 1rem 1rem;
  }
}
@media all and (min-width: 990px) {
  .random-piece {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
  }
}
.random-piece__text {
  margin: 0 2rem 2rem 2rem;
}
@media (max-width: 1920px) {
  .random-piece__text {
    margin: 0 1.9rem 1.9rem 1.9rem;
  }
}
@media (max-width: 1600px) {
  .random-piece__text {
    margin: 0 1.8rem 1.8rem 1.8rem;
  }
}
@media (max-width: 1360px) {
  .random-piece__text {
    margin: 0 1.6rem 1.6rem 1.6rem;
  }
}
@media (max-width: 1200px) {
  .random-piece__text {
    margin: 0 1.5rem 1.5rem 1.5rem;
  }
}
@media (max-width: 1080px) {
  .random-piece__text {
    margin: 0 1.4rem 1.4rem 1.4rem;
  }
}
@media (max-width: 992px) {
  .random-piece__text {
    margin: 0 1.3rem 1.3rem 1.3rem;
  }
}
@media (max-width: 768px) {
  .random-piece__text {
    margin: 0 1.2rem 1.2rem 1.2rem;
  }
}
@media (max-width: 450px) {
  .random-piece__text {
    margin: 0 1rem 1rem 1rem;
  }
}
.random-piece__tags {
  white-space: nowrap;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
@media (max-width: 1920px) {
  .random-piece__tags {
    margin: 0.475rem 0.475rem 0.475rem 0.475rem;
  }
}
@media (max-width: 1600px) {
  .random-piece__tags {
    margin: 0.45rem 0.45rem 0.45rem 0.45rem;
  }
}
@media (max-width: 1360px) {
  .random-piece__tags {
    margin: 0.4rem 0.4rem 0.4rem 0.4rem;
  }
}
@media (max-width: 1200px) {
  .random-piece__tags {
    margin: 0.375rem 0.375rem 0.375rem 0.375rem;
  }
}
@media (max-width: 1080px) {
  .random-piece__tags {
    margin: 0.35rem 0.35rem 0.35rem 0.35rem;
  }
}
@media (max-width: 992px) {
  .random-piece__tags {
    margin: 0.325rem 0.325rem 0.325rem 0.325rem;
  }
}
@media (max-width: 768px) {
  .random-piece__tags {
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;
  }
}
@media (max-width: 450px) {
  .random-piece__tags {
    margin: 0.25rem 0.25rem 0.25rem 0.25rem;
  }
}
.random-piece__tags a {
  color: #fff;
  text-decoration: none;
  width: min-content;
  background-color: #6161f3;
  border-radius: 100vh;
  transition: 0.3s;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
@media (max-width: 1920px) {
  .random-piece__tags a {
    padding: 0.475rem 0.475rem 0.475rem 0.475rem;
  }
}
@media (max-width: 1600px) {
  .random-piece__tags a {
    padding: 0.45rem 0.45rem 0.45rem 0.45rem;
  }
}
@media (max-width: 1360px) {
  .random-piece__tags a {
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  }
}
@media (max-width: 1200px) {
  .random-piece__tags a {
    padding: 0.375rem 0.375rem 0.375rem 0.375rem;
  }
}
@media (max-width: 1080px) {
  .random-piece__tags a {
    padding: 0.35rem 0.35rem 0.35rem 0.35rem;
  }
}
@media (max-width: 992px) {
  .random-piece__tags a {
    padding: 0.325rem 0.325rem 0.325rem 0.325rem;
  }
}
@media (max-width: 768px) {
  .random-piece__tags a {
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  }
}
@media (max-width: 450px) {
  .random-piece__tags a {
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  }
}
.random-piece__tags a:hover {
  background-color: #3b3bc6;
}
.random-piece__player {
  width: 100%;
}
@media all and (min-width: 990px) {
  .random-piece__player {
    flex-grow: 3;
  }
}
.random-piece__player a {
  display: block;
  text-align: center;
}
.random-piece__player #ytplayer {
  width: 90%;
  aspect-ratio: 16/9;
  margin: 0 2rem 2rem 2rem;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #6161f3, #4d4dee) border-box;
  border: 7px solid transparent;
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  overflow: hidden;
}
@media (max-width: 1920px) {
  .random-piece__player #ytplayer {
    margin: 0 1.9rem 1.9rem 1.9rem;
  }
}
@media (max-width: 1600px) {
  .random-piece__player #ytplayer {
    margin: 0 1.8rem 1.8rem 1.8rem;
  }
}
@media (max-width: 1360px) {
  .random-piece__player #ytplayer {
    margin: 0 1.6rem 1.6rem 1.6rem;
  }
}
@media (max-width: 1200px) {
  .random-piece__player #ytplayer {
    margin: 0 1.5rem 1.5rem 1.5rem;
  }
}
@media (max-width: 1080px) {
  .random-piece__player #ytplayer {
    margin: 0 1.4rem 1.4rem 1.4rem;
  }
}
@media (max-width: 992px) {
  .random-piece__player #ytplayer {
    margin: 0 1.3rem 1.3rem 1.3rem;
  }
}
@media (max-width: 768px) {
  .random-piece__player #ytplayer {
    margin: 0 1.2rem 1.2rem 1.2rem;
  }
}
@media (max-width: 450px) {
  .random-piece__player #ytplayer {
    margin: 0 1rem 1rem 1rem;
  }
}
.random-piece__header {
  position: relative;
  overflow-x: hidden;
}
.random-piece__header:after {
  content: "";
  background-color: #6161f3;
  width: 100%;
  position: absolute;
  height: 3px;
  border-radius: 100vh 0 100vh 0;
  bottom: 0;
  left: 0;
  animation: slideInUnderline 1.5s 1.2s ease both;
}

.image-wrapper {
  transition: 0.5s ease-in;
  max-height: 600px;
  overflow: hidden;
}
.image-wrapper.hidden {
  opacity: 0;
  max-height: 0;
  transition: 0.5s ease-out;
}
.image-wrapper__content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
@media all and (min-width: 950px) {
  .image-wrapper__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 3rem 5rem 3rem 5rem;
  }
}
@media (min-width: 950px) and (max-width: 1920px) {
  .image-wrapper__content {
    padding: 2.85rem 4.75rem 2.85rem 4.75rem;
  }
}
@media (min-width: 950px) and (max-width: 1600px) {
  .image-wrapper__content {
    padding: 2.7rem 4.5rem 2.7rem 4.5rem;
  }
}
@media (min-width: 950px) and (max-width: 1360px) {
  .image-wrapper__content {
    padding: 2.4rem 4rem 2.4rem 4rem;
  }
}
@media (min-width: 950px) and (max-width: 1200px) {
  .image-wrapper__content {
    padding: 2.25rem 3.75rem 2.25rem 3.75rem;
  }
}
@media (min-width: 950px) and (max-width: 1080px) {
  .image-wrapper__content {
    padding: 2.1rem 3.5rem 2.1rem 3.5rem;
  }
}
@media (min-width: 950px) and (max-width: 992px) {
  .image-wrapper__content {
    padding: 1.95rem 3.25rem 1.95rem 3.25rem;
  }
}
@media (min-width: 950px) and (max-width: 768px) {
  .image-wrapper__content {
    padding: 1.8rem 3rem 1.8rem 3rem;
  }
}
@media (min-width: 950px) and (max-width: 450px) {
  .image-wrapper__content {
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  }
}
.image-wrapper__content .image--medium {
  display: block;
  width: 100%;
  flex: 1;
  max-width: 400px;
}
.image-wrapper__content p {
  flex: 1;
  text-align: center;
  padding: 2rem 2rem 2rem 2rem;
  font-size: 1.3rem;
}
@media (max-width: 1920px) {
  .image-wrapper__content p {
    padding: 1.9rem 1.9rem 1.9rem 1.9rem;
  }
}
@media (max-width: 1600px) {
  .image-wrapper__content p {
    padding: 1.8rem 1.8rem 1.8rem 1.8rem;
  }
}
@media (max-width: 1360px) {
  .image-wrapper__content p {
    padding: 1.6rem 1.6rem 1.6rem 1.6rem;
  }
}
@media (max-width: 1200px) {
  .image-wrapper__content p {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}
@media (max-width: 1080px) {
  .image-wrapper__content p {
    padding: 1.4rem 1.4rem 1.4rem 1.4rem;
  }
}
@media (max-width: 992px) {
  .image-wrapper__content p {
    padding: 1.3rem 1.3rem 1.3rem 1.3rem;
  }
}
@media (max-width: 768px) {
  .image-wrapper__content p {
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
  }
}
@media (max-width: 450px) {
  .image-wrapper__content p {
    padding: 1rem 1rem 1rem 1rem;
  }
}
.image-wrapper--pieces p {
  font-size: 1rem;
}
@media all and (min-width: 750px) {
  .image-wrapper--pieces {
    padding: 3rem 4rem 3rem 4rem;
  }
}
@media (min-width: 750px) and (max-width: 1920px) {
  .image-wrapper--pieces {
    padding: 2.85rem 3.8rem 2.85rem 3.8rem;
  }
}
@media (min-width: 750px) and (max-width: 1600px) {
  .image-wrapper--pieces {
    padding: 2.7rem 3.6rem 2.7rem 3.6rem;
  }
}
@media (min-width: 750px) and (max-width: 1360px) {
  .image-wrapper--pieces {
    padding: 2.4rem 3.2rem 2.4rem 3.2rem;
  }
}
@media (min-width: 750px) and (max-width: 1200px) {
  .image-wrapper--pieces {
    padding: 2.25rem 3rem 2.25rem 3rem;
  }
}
@media (min-width: 750px) and (max-width: 1080px) {
  .image-wrapper--pieces {
    padding: 2.1rem 2.8rem 2.1rem 2.8rem;
  }
}
@media (min-width: 750px) and (max-width: 992px) {
  .image-wrapper--pieces {
    padding: 1.95rem 2.6rem 1.95rem 2.6rem;
  }
}
@media (min-width: 750px) and (max-width: 768px) {
  .image-wrapper--pieces {
    padding: 1.8rem 2.4rem 1.8rem 2.4rem;
  }
}
@media (min-width: 750px) and (max-width: 450px) {
  .image-wrapper--pieces {
    padding: 1.5rem 2rem 1.5rem 2rem;
  }
}

.about-project {
  padding: 3rem 10rem 3rem 10rem;
}
@media (max-width: 1920px) {
  .about-project {
    padding: 2.85rem 9.5rem 2.85rem 9.5rem;
  }
}
@media (max-width: 1600px) {
  .about-project {
    padding: 2.7rem 9rem 2.7rem 9rem;
  }
}
@media (max-width: 1360px) {
  .about-project {
    padding: 2.4rem 8rem 2.4rem 8rem;
  }
}
@media (max-width: 1200px) {
  .about-project {
    padding: 2.25rem 7.5rem 2.25rem 7.5rem;
  }
}
@media (max-width: 1080px) {
  .about-project {
    padding: 2.1rem 7rem 2.1rem 7rem;
  }
}
@media (max-width: 992px) {
  .about-project {
    padding: 1.95rem 6.5rem 1.95rem 6.5rem;
  }
}
@media (max-width: 768px) {
  .about-project {
    padding: 1.8rem 6rem 1.8rem 6rem;
  }
}
@media (max-width: 450px) {
  .about-project {
    padding: 1.5rem 5rem 1.5rem 5rem;
  }
}

.navigation .pagination {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #6161f3, #4d4dee) border-box;
  border: 3px solid transparent;
  border-radius: 100vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  justify-content: center;
  align-items: center;
  width: min-content;
  margin: auto;
  background: linear-gradient(-45deg, #6161f3, #4d4dee, #6161f3);
  font-family: "Comfortaa", cursive;
}
@media (max-width: 1920px) {
  .navigation .pagination {
    padding: 0.475rem 0.95rem 0.475rem 0.95rem;
  }
}
@media (max-width: 1600px) {
  .navigation .pagination {
    padding: 0.45rem 0.9rem 0.45rem 0.9rem;
  }
}
@media (max-width: 1360px) {
  .navigation .pagination {
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  }
}
@media (max-width: 1200px) {
  .navigation .pagination {
    padding: 0.375rem 0.75rem 0.375rem 0.75rem;
  }
}
@media (max-width: 1080px) {
  .navigation .pagination {
    padding: 0.35rem 0.7rem 0.35rem 0.7rem;
  }
}
@media (max-width: 992px) {
  .navigation .pagination {
    padding: 0.325rem 0.65rem 0.325rem 0.65rem;
  }
}
@media (max-width: 768px) {
  .navigation .pagination {
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  }
}
@media (max-width: 450px) {
  .navigation .pagination {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  }
}
.navigation .pagination span {
  display: inline-block;
  padding: 0rem 0.5rem 0rem 0.5rem;
  vertical-align: center;
  color: #fff;
  font-weight: bolder;
}
@media (max-width: 1920px) {
  .navigation .pagination span {
    padding: 0rem 0.475rem 0rem 0.475rem;
  }
}
@media (max-width: 1600px) {
  .navigation .pagination span {
    padding: 0rem 0.45rem 0rem 0.45rem;
  }
}
@media (max-width: 1360px) {
  .navigation .pagination span {
    padding: 0rem 0.4rem 0rem 0.4rem;
  }
}
@media (max-width: 1200px) {
  .navigation .pagination span {
    padding: 0rem 0.375rem 0rem 0.375rem;
  }
}
@media (max-width: 1080px) {
  .navigation .pagination span {
    padding: 0rem 0.35rem 0rem 0.35rem;
  }
}
@media (max-width: 992px) {
  .navigation .pagination span {
    padding: 0rem 0.325rem 0rem 0.325rem;
  }
}
@media (max-width: 768px) {
  .navigation .pagination span {
    padding: 0rem 0.3rem 0rem 0.3rem;
  }
}
@media (max-width: 450px) {
  .navigation .pagination span {
    padding: 0rem 0.25rem 0rem 0.25rem;
  }
}
.navigation .pagination span.current {
  border-radius: 50%;
  border: 3px solid #fff;
}
.navigation .pagination span a {
  color: #fff;
  text-decoration: none;
  position: relative;
}
.navigation .pagination span a:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0;
  transition: opacity 0.3s;
  background-color: #fff;
  border-radius: 50%;
}
.navigation .pagination span a:hover:after {
  opacity: 1;
}

.ytplayer--show {
  margin: 1rem 0 0 0;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #6161f3, #4d4dee) border-box;
  border: 3px solid transparent;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  width: 100%;
  aspect-ratio: 16/9;
}
@media (max-width: 1920px) {
  .ytplayer--show {
    margin: 0.95rem 0 0 0;
  }
}
@media (max-width: 1600px) {
  .ytplayer--show {
    margin: 0.9rem 0 0 0;
  }
}
@media (max-width: 1360px) {
  .ytplayer--show {
    margin: 0.8rem 0 0 0;
  }
}
@media (max-width: 1200px) {
  .ytplayer--show {
    margin: 0.75rem 0 0 0;
  }
}
@media (max-width: 1080px) {
  .ytplayer--show {
    margin: 0.7rem 0 0 0;
  }
}
@media (max-width: 992px) {
  .ytplayer--show {
    margin: 0.65rem 0 0 0;
  }
}
@media (max-width: 768px) {
  .ytplayer--show {
    margin: 0.6rem 0 0 0;
  }
}
@media (max-width: 450px) {
  .ytplayer--show {
    margin: 0.5rem 0 0 0;
  }
}
@media all and (min-width: 900px) {
  .ytplayer--show {
    width: 50%;
  }
}
@media all and (min-width: 1200px) {
  .ytplayer--show {
    width: 30%;
  }
}

.dd__tags {
  white-space: nowrap;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
@media (max-width: 1920px) {
  .dd__tags {
    margin: 0.475rem 0.475rem 0.475rem 0.475rem;
  }
}
@media (max-width: 1600px) {
  .dd__tags {
    margin: 0.45rem 0.45rem 0.45rem 0.45rem;
  }
}
@media (max-width: 1360px) {
  .dd__tags {
    margin: 0.4rem 0.4rem 0.4rem 0.4rem;
  }
}
@media (max-width: 1200px) {
  .dd__tags {
    margin: 0.375rem 0.375rem 0.375rem 0.375rem;
  }
}
@media (max-width: 1080px) {
  .dd__tags {
    margin: 0.35rem 0.35rem 0.35rem 0.35rem;
  }
}
@media (max-width: 992px) {
  .dd__tags {
    margin: 0.325rem 0.325rem 0.325rem 0.325rem;
  }
}
@media (max-width: 768px) {
  .dd__tags {
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;
  }
}
@media (max-width: 450px) {
  .dd__tags {
    margin: 0.25rem 0.25rem 0.25rem 0.25rem;
  }
}
.dd__tags a {
  color: #fff;
  text-decoration: none;
  width: min-content;
  background-color: #6161f3;
  border-radius: 100vh;
  transition: 0.3s;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
@media (max-width: 1920px) {
  .dd__tags a {
    padding: 0.475rem 0.475rem 0.475rem 0.475rem;
  }
}
@media (max-width: 1600px) {
  .dd__tags a {
    padding: 0.45rem 0.45rem 0.45rem 0.45rem;
  }
}
@media (max-width: 1360px) {
  .dd__tags a {
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  }
}
@media (max-width: 1200px) {
  .dd__tags a {
    padding: 0.375rem 0.375rem 0.375rem 0.375rem;
  }
}
@media (max-width: 1080px) {
  .dd__tags a {
    padding: 0.35rem 0.35rem 0.35rem 0.35rem;
  }
}
@media (max-width: 992px) {
  .dd__tags a {
    padding: 0.325rem 0.325rem 0.325rem 0.325rem;
  }
}
@media (max-width: 768px) {
  .dd__tags a {
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  }
}
@media (max-width: 450px) {
  .dd__tags a {
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  }
}
.dd__tags a:hover {
  background-color: #3b3bc6;
}

.td__scales {
  white-space: nowrap;
}
.td__tags {
  white-space: nowrap;
}
.td__tags a {
  color: #fff;
  text-decoration: none;
  width: min-content;
  background-color: #6161f3;
  border-radius: 100vh;
  transition: 0.3s;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
@media (max-width: 1920px) {
  .td__tags a {
    padding: 0.475rem 0.475rem 0.475rem 0.475rem;
  }
}
@media (max-width: 1600px) {
  .td__tags a {
    padding: 0.45rem 0.45rem 0.45rem 0.45rem;
  }
}
@media (max-width: 1360px) {
  .td__tags a {
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  }
}
@media (max-width: 1200px) {
  .td__tags a {
    padding: 0.375rem 0.375rem 0.375rem 0.375rem;
  }
}
@media (max-width: 1080px) {
  .td__tags a {
    padding: 0.35rem 0.35rem 0.35rem 0.35rem;
  }
}
@media (max-width: 992px) {
  .td__tags a {
    padding: 0.325rem 0.325rem 0.325rem 0.325rem;
  }
}
@media (max-width: 768px) {
  .td__tags a {
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  }
}
@media (max-width: 450px) {
  .td__tags a {
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  }
}
.td__tags a:hover {
  background-color: #3b3bc6;
}

.alert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.alert .close-flash {
  border: none;
  background: transparent;
}
.alert--closed {
  animation: hide 1s both;
}
.alert p {
  margin: 0;
}

.wrapper--closed {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
