@charset "UTF-8";
@keyframes shake {
  0% {
    transform: translate(-10%, -20%) rotate(0deg);
  }
  20% {
    transform: translate(-10%, -20%) rotate(0deg);
  }
  25% {
    transform: translate(-10%, -20%) rotate(-30deg);
  }
  35% {
    transform: translate(-10%, -20%) rotate(30deg);
  }
  45% {
    transform: translate(-10%, -20%) rotate(-30deg);
  }
  55% {
    transform: translate(-10%, -20%) rotate(30deg);
  }
  60% {
    transform: translate(-10%, -20%) rotate(0deg);
  }
  100% {
    transform: translate(-10%, -20%) rotate(0deg);
  }
}
@keyframes animateGlow {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.btn-primary {
  background: linear-gradient(-45deg, #6161f3, #4d4dee, #6161f3);
}

table {
  display: block;
}
@media all and (max-width: 900px) {
  table {
    overflow-x: auto;
    white-space: nowrap;
  }
}
table thead {
  background: linear-gradient(-180deg, #4d4dee, #6161f3);
}
table thead th {
  color: #fff;
  vertical-align: middle;
}
table thead th a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
  position: relative;
}
table thead th a:before {
  position: absolute;
  content: "";
  display: block;
  bottom: -0.2rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 100vh;
}
table thead th a:hover {
  color: #fff;
}
table thead th a:hover:before {
  opacity: 1;
}
table thead th a:after {
  display: inline-block;
  content: " \f338";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  vertical-align: middle;
  line-height: initial;
  font-weight: 900;
}
table tbody tr td:last-of-type {
  white-space: nowrap;
}
table tbody tr td:last-of-type a {
  text-decoration: none;
}
table tbody tr td:last-of-type i.fa-eye {
  color: #9311b6;
}
table tbody tr td:last-of-type i.fa-pen-to-square {
  color: #3a933b;
}
table tbody tr td:last-of-type i.fa-trash-can {
  color: #cd1919;
}

.form-select {
  padding: 0;
  background-image: none;
}

.selectize-control.multi {
  border: none;
}

.selectize-control.single .selectize-input {
  border: none;
}
.selectize-control.single .selectize-input:after {
  content: url("../images/arrow.svg");
  border: none;
  width: 15px;
  height: 9px;
  display: block;
  transition: 0.3s;
}
.selectize-control.single .selectize-input.dropdown-active:after {
  transform: rotate(180deg);
}

table tbody tr {
  transition: 0.3s;
}
table tbody tr:hover {
  background-color: #e3e3e3;
}

nav {
  color: rgba(255, 255, 255, 0.55);
}
nav .nav__user-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
nav .nav__user-data .level-progress {
  background-color: #fff;
  border-radius: 100vh;
  color: #111010;
  position: relative;
  overflow: hidden;
  height: 2.3rem;
  width: 7rem;
}
nav .nav__user-data .level-progress__meter {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.3rem;
  width: 7rem;
  border-radius: 100vh;
  opacity: 0.9;
  background: linear-gradient(to right, #ff5771, #9311b6, #ff5771);
  background-size: 200% 200%;
  animation: animateGlow 10s linear infinite;
}
nav .nav__user-data .level-progress__experience {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
nav .nav__user-data .level-circle--small {
  position: relative;
  left: -1rem;
  top: 0.3rem;
  color: #111010;
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav__user-data .level-circle--small span {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  font-weight: bold;
}
nav .nav__user-data .level-circle--small i {
  font-size: 1.7rem;
  color: #e3c102;
  display: inline-block;
  position: absolute;
  text-shadow: -2px -1px 1px #474747;
  top: 0;
  left: 0;
}
nav .nav__user-data .user-data a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
nav .nav__user-data .user-data .user-image--small {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.75);
  margin: 0 0.4rem;
}
nav a {
  text-align: center;
  color: rgba(255, 255, 255, 0.55);
  transition: 0.3s;
}
nav a:hover {
  color: rgba(255, 255, 255, 0.75);
}

.button-friend button:after {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  vertical-align: middle;
  display: block;
  line-height: initial;
  font-weight: 900;
}
.button-friend__remove button:after {
  content: "\f503";
}
.button-friend__add button:after {
  content: "\f234";
}

.form__profile-image #profile_image_image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.form__profile-image #profile_image_image label {
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid white;
  transition: 0.3s;
}
.form__profile-image #profile_image_image input {
  opacity: 0;
  position: absolute;
  left: -5000px;
}
.form__profile-image #profile_image_image input:checked ~ label {
  border: 5px solid #9311b6;
}
.form__profile-image #profile_image_image input:focus-visible ~ label {
  border: 5px solid red;
}
.form__profile-image #profile_image_image .user-image--medium {
  width: 150px;
  cursor: pointer;
}
.form__profile-image .form-check--locked {
  position: relative;
}
.form__profile-image .form-check--locked:hover i {
  animation: shake 1s ease;
}
.form__profile-image .form-check--locked .required-level {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.75);
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}
.form__profile-image .form-check--locked .required-level i {
  font-size: 1rem;
  line-height: 1.6rem;
  transform: translate(-10%, -20%);
}
.form__profile-image .user-image--locked {
  border-radius: 50%;
  border: 5px solid #111010;
  margin: 5px;
  cursor: default !important;
  filter: grayscale(1) brightness(0.5);
  transition: 0.3s;
}
.form__profile-image .user-image--locked:hover {
  filter: grayscale(1) brightness(0.4);
}

.user-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.user-container__image {
  overflow: hidden;
  border-radius: 50%;
}
.user-container__image .user-image {
  transition: 0.7s ease;
  border-radius: 50%;
}
.user-container__image .user-image:hover {
  transform: scale(1.1);
}
.user-container__image a {
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: 50%;
}
.user-container__image a:hover .user-image--editable {
  opacity: 1;
  transform: translate(0, 0);
}
.user-container__image a:hover .user-image {
  transform: scale(1.1);
}
.user-container__image a .user-image--editable {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translate(0, 100%);
  transition: 0.3s ease;
}
.user-container__image a .user-image--editable p {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

.flashcards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flashcards-container #ytplayer {
  width: 5rem;
  height: 4rem;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #9311b6, #ff5771) border-box;
  border: 7px solid transparent;
  border-radius: 0.5rem;
  margin: 3rem 3rem 3rem 3rem;
}
@media (max-width: 1920px) {
  .flashcards-container #ytplayer {
    margin: 2.85rem 2.85rem 2.85rem 2.85rem;
  }
}
@media (max-width: 1600px) {
  .flashcards-container #ytplayer {
    margin: 2.7rem 2.7rem 2.7rem 2.7rem;
  }
}
@media (max-width: 1360px) {
  .flashcards-container #ytplayer {
    margin: 2.4rem 2.4rem 2.4rem 2.4rem;
  }
}
@media (max-width: 1200px) {
  .flashcards-container #ytplayer {
    margin: 2.25rem 2.25rem 2.25rem 2.25rem;
  }
}
@media (max-width: 1080px) {
  .flashcards-container #ytplayer {
    margin: 2.1rem 2.1rem 2.1rem 2.1rem;
  }
}
@media (max-width: 992px) {
  .flashcards-container #ytplayer {
    margin: 1.95rem 1.95rem 1.95rem 1.95rem;
  }
}
@media (max-width: 768px) {
  .flashcards-container #ytplayer {
    margin: 1.8rem 1.8rem 1.8rem 1.8rem;
  }
}
@media (max-width: 450px) {
  .flashcards-container #ytplayer {
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}
.flashcards-container__flashcards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 100rem;
}
.flashcards-container__flashcard {
  width: 80vmin;
  height: 80vmin;
  border-radius: 3rem;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #9311b6, #ff5771) border-box;
  border: 7px solid transparent;
  border-radius: 3rem;
  cursor: pointer;
}
.flashcards-container__flashcard--active {
  transform: rotateY(180deg);
}
.flashcards-container__flashcard .flashcard {
  padding: 2rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  background-color: #fff;
  border-radius: 3rem;
}
@media (max-width: 1920px) {
  .flashcards-container__flashcard .flashcard {
    padding: 1.9rem 1.9rem 1.9rem 1.9rem;
  }
}
@media (max-width: 1600px) {
  .flashcards-container__flashcard .flashcard {
    padding: 1.8rem 1.8rem 1.8rem 1.8rem;
  }
}
@media (max-width: 1360px) {
  .flashcards-container__flashcard .flashcard {
    padding: 1.6rem 1.6rem 1.6rem 1.6rem;
  }
}
@media (max-width: 1200px) {
  .flashcards-container__flashcard .flashcard {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}
@media (max-width: 1080px) {
  .flashcards-container__flashcard .flashcard {
    padding: 1.4rem 1.4rem 1.4rem 1.4rem;
  }
}
@media (max-width: 992px) {
  .flashcards-container__flashcard .flashcard {
    padding: 1.3rem 1.3rem 1.3rem 1.3rem;
  }
}
@media (max-width: 768px) {
  .flashcards-container__flashcard .flashcard {
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
  }
}
@media (max-width: 450px) {
  .flashcards-container__flashcard .flashcard {
    padding: 1rem 1rem 1rem 1rem;
  }
}
.flashcards-container__flashcard .flashcard i {
  font-size: 2rem;
  color: #9311b6;
}
.flashcards-container__flashcard .flashcard--back {
  transform: rotateY(180deg);
}

main > *:not(.table-striped) {
  margin: 1rem 2rem 1rem 2rem;
}
@media (max-width: 1920px) {
  main > *:not(.table-striped) {
    margin: 0.95rem 1.9rem 0.95rem 1.9rem;
  }
}
@media (max-width: 1600px) {
  main > *:not(.table-striped) {
    margin: 0.9rem 1.8rem 0.9rem 1.8rem;
  }
}
@media (max-width: 1360px) {
  main > *:not(.table-striped) {
    margin: 0.8rem 1.6rem 0.8rem 1.6rem;
  }
}
@media (max-width: 1200px) {
  main > *:not(.table-striped) {
    margin: 0.75rem 1.5rem 0.75rem 1.5rem;
  }
}
@media (max-width: 1080px) {
  main > *:not(.table-striped) {
    margin: 0.7rem 1.4rem 0.7rem 1.4rem;
  }
}
@media (max-width: 992px) {
  main > *:not(.table-striped) {
    margin: 0.65rem 1.3rem 0.65rem 1.3rem;
  }
}
@media (max-width: 768px) {
  main > *:not(.table-striped) {
    margin: 0.6rem 1.2rem 0.6rem 1.2rem;
  }
}
@media (max-width: 450px) {
  main > *:not(.table-striped) {
    margin: 0.5rem 1rem 0.5rem 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
