{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.user_composers'|trans({'%name%': user.name|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.user_composers'|trans({'%name%': user.name|default('')}) }}</h1>
    {% include 'default/_user_basic_info.html.twig' with {
        user: user
    } %}

    {% include 'default/_composers_list.html.twig' with {
        pagination: pagination
    } %}

{% endblock %}