{% extends 'base.html.twig' %}

{% block title %}
    {{ 'menu.about'|trans }}
{% endblock %}

{% block body %}

    <h1 class="underline-header">{{ 'menu.about'|trans }}</h1>
    <div class="about-project">
        <p>{{ 'info.about-project'|trans }}</p>
    </div>

{% endblock %}