{#
Single flash message template.

parameters:
    - type: Message type according to Bootstrap alert types,
    - message: Message content,
#}
<div class="alert alert-{{ type }}" role="alert">
    <p>{{ message }}</p>
    <button class="close-flash" title="{{ 'action.close'|trans }}">
        <i class="fa-solid fa-xmark"></i>
    </button>
</div>