{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.composer_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.composer_list'|trans }}</h1>
    <a class="btn btn-primary btn-lg" href="{{ url('composer_create') }}">{{ 'action.add_composer'|trans }}</a>
    {% include 'default/_composers_list.html.twig' with {
        pagination: pagination
    } %}
{% endblock %}